*{
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  /*border: 5px solid black;*/
}

body {
  text-transform: none;
}

.clear{
  clear:both;
}
.right{
  float: right;
}
.left{
  float: left;
}
html, body {
    height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 0;
}
.status-bar {
  text-align: center;
}
.status-bar > div {
  display: inline-block;
}
.cocktail-name{
  font-size: 35px;
}

.score, .time {
  font-size: 18px;
}
.score {
  position: absolute;
  right: 6px;
  top: 40px;
}
.time {
  position: absolute;
  right: 6px;
  top: 60px;
}
.menu {
  position: absolute;
  right: 6px;
  top: 100px;
}
.btn-back {
  position: absolute;
  right: 6px;
  top: 65px;
}

.hint {
  position: absolute;
  right: 6px;
  top: 160px;
}
.ingredients {
  position: absolute;
  bottom: 14px;
  margin: 4px 16px;
  text-align: center;
}
.ingredient {
  display: inline-block;
  margin: 2px 4px;
}
.ingredients-list{
  position: absolute;
  bottom: 50px;
  left: 100px;
  background: #fff;
  opacity: .8;
}
.ingredient-list-item {
  display: block;
  margin: 2px 4px;
  font-size: 33px;
}
.btn-round{
  border-radius: 5px;
  border: 1.5px solid #000;
  background: #dee9ec;
  font-size: 22px;
  opacity: 1;
}
.btn-round:active {
  background: #89a4d1;
}
.btn-ingredient {
  font-size: 18px;
}
.btn-hint {
  width: 93px;
}
.btn-option-big {
  width: 90%;
}
.selected {
  background: #89a4d1;
}
.cocktail-image{
  position: relative;
}
.cocktail-image > img {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 2px;
  z-index: -1;
}
.shadow {
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.yellow-bg {
  background: yellow;
}
.gameOver{
  position: fixed;
  width:100%;
  height:100%;
  top: 0px
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  padding-top: 90px;
  opacity: .8;
  z-index:3;
  text-align: center;
}
.final-score{
  color: green;
  font-weight: bold;
}
.options {
  padding-top: 90px;
  padding-left: 20px;
}
.cocktail-list {
  position: absolute;
  border: 1px solid black;
  background: #fff;
  border-radius: 4px;
  padding: 4px;
  top: 190px;
  right: 3px;
  height: 350px;
  overflow: auto;
  z-index: 2;
}
.cocktail-list-item {
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 28px;
  padding-left: 40px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.cocktail-list-item:active {
  background: #89a4d1;
}
.center {
  text-align: center;
}
