<div class = " container "  ng-class="{'yellow-bg': showOverlay}" >
  <div class = " status-bar " >
    <div class = " cocktail-name " >
      {{ cocktail.name }}
    </div>

  </div>
  <div class = " score " >
    Tips: ${{ score }}
  </div>
  <div class = " time " >
    Time: {{ time }}
  </div>
  <div class = " menu ">
    <button class = "btn-round shadow" ng-click = "onClickMenu()">
      <i class = "fa fa-bars" ></i> Menu
    </button>
  </div>
  <div class = " hint ">
    <button class = "btn-round btn-hint shadow" ng-click = "onClickHint()">
      <i class = " fa fa-question " ></i> Hint
    </button>
  </div>
  <div class = " cocktail-image " >
    <img ng-src="images/{{ cocktail.image }}">
  </div>
  <div class = " ingredients " >
    <div class = " ingredient" ng-repeat="ingredient in ingredients track by $index">
      <button class = "btn-round btn-ingredient shadow"
        ng-class = " {  'selected' : ingredient.selected,
                        'yellow-bg' : ingredient.hint } "
        ng-click = " onClickIngredient( $index ) " >
        {{ ingredient.name }}
      </button>
    </div>
  </div>
  <div class = gameOver ng-if="gameOver">
    <h1>Game Over</h1><br><br>
    <h1>Your Tips: <span class="final-score"><i class="fa fa-usd"></i>{{ score }}</span></h1>
    <br><br>
    <button class="btn-round" ng-click = "onClickTryAgain()">Try again</button>
  </div>
</div>
