<div class = " container "  ng-class="{'yellow-bg': showOverlay}" >
  <div class = " status-bar " >
    <div class = " cocktail-name " >
      Bartender Menu
    </div>

  </div>

  <div class = " menu ">
    <button class = "btn-round shadow" ng-click= "onClickBack()">
      <i class = "fa fa-hand-o-left"></i> Back
    </button>
  </div>

  <div class = " options " >
    <button class = "btn-round btn-option-big shadow" ng-click="onClickTest()">
      <i class="fa fa-graduation-cap"></i> Test Your Knowledge </button>
    <br><br>
    <button class = "btn-round btn-option-big shadow " ng-click="onClickLearn()" >
      <i class="fa fa-leanpub"></i>  Learn The Drinks </button>
      <br><br><br>
      <div class="cocktail-name center">Difficulty:</div>
      <br>
      <button class = "btn-round shadow " ng-class="{selected:difficulty=='easy'}"
        ng-click="onClickDifficulty('easy')" >
        <i class="fa fa-star-half-o"></i>  Easy </button> (3 ingredients or less)
        <br><br>
      <button class = "btn-round shadow " ng-class="{selected:difficulty=='hard'}"
        ng-click="onClickDifficulty('hard')" >
        <i class="fa fa-star"></i>  Hard </button> (Bring it on!)

        <br><br><br>
        <div class="cocktail-name center">Start Time:</div>
        <br>
        <button class = "btn-round shadow " ng-class="{selected:startTime=='30'}"
          ng-click=" onClickStartTime( 30 )" >
          <i class="fa fa-battery-1"></i>  30s </button>
        <button class = "btn-round shadow " ng-class="{selected:startTime=='60'}"
          ng-click=" onClickStartTime( 60 )" >
          <i class="fa fa-battery-2"></i>  1 min </button>
        <button class = "btn-round shadow " ng-class="{selected:startTime=='120'}"
          ng-click=" onClickStartTime( 120 )" >
          <i class="fa fa-battery-3"></i>  2 min </button>
        <!--<button class = "btn-round shadow " ng-class="{selected:startTime=='180'}"
          ng-click=" onClickStartTime( 180 )" >
          <i class="fa fa-battery-4"></i>  3 min </button>-->


  </div>

</div>
