<div class = " container "  ng-class="{'yellow-bg': showOverlay}" >
  <div class = " status-bar " >
    <div class = " cocktail-name " >
      Bartender Options
    </div>

  </div>

  <div class = " menu ">
    <button class = "btn-round shadow" ng-click= "onClickBack()">
      <i class = "fa fa-hand-o-left"></i> Back
    </button>
  </div>

  <div class = " options " >
    <button class = "btn-round shadow" > Easy </button>
    <button class = "btn-round shadow" > Medium </button>
    <button class = "btn-round shadow" > Hard </button>

  </div>

</div>
