<div class = " container "  ng-class="{'yellow-bg': showOverlay}" >
  <div class = " status-bar " >
    <div class = " cocktail-name " >
      Bartender Menu
    </div>

  </div>

  <div class = " menu ">
    <button class = "btn-round shadow" ng-click= "onClickBack()">
      <i class = "fa fa-hand-o-left"></i> Back
    </button>
  </div>

  <div class = " options " >
    <button class = "btn-round btn-option-big shadow" ng-click="onClickTest()">
      <i class="fa fa-graduation-cap"></i> Test Your Knowledge </button>
    <br><br>
    <button class = "btn-round btn-option-big shadow " ng-click="onClickLearn()" >
      <i class="fa fa-leanpub"></i>  Learn The Drinks </button>
  </div>

</div>
